{:paths ["src"]
 :deps
 {org.clojure/clojure #:mvn{:version "1.11.0-alpha3"}
  net.mikera/core.matrix {:mvn/version "0.62.0"}}}

;; somebody more experiencend
;; https://gist.github.com/corasaurus-hex/389968ca616083ba0feb630330ba1739
